In [1]:
import pandas as pd

In [5]:
data = pd.read_csv("./DATA/pakistanClean.csv")
data.head()

,Unnamed: 0,eventid,iyear,imonth,iday,region,region_txt,provstate,city,latitude,...,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related,Date,Month,TTP
0,1,200712030005,2007,12,3,6,South Asia,Balochistan,Qilla Abdullah district,30.803630,...,NaN,CETIS,-9,-9,0,-9,NaN,2007-12-03,Dec,NaN
1,2,200712040005,2007,12,4,6,South Asia,Khyber Pakhtunkhwa,Peshawar,34.006004,...,NaN,CETIS,-9,-9,0,-9,NaN,2007-12-04,Dec,NaN
2,3,200712060008,2007,12,6,6,South Asia,Balochistan,Dera Bugti,29.034412,...,NaN,CETIS,0,0,0,0,NaN,2007-12-06,Dec,0.0
3,4,200712080003,2007,12,8,6,South Asia,Balochistan,Khuzdar,27.809921,...,NaN,CETIS,-9,-9,0,-9,NaN,2007-12-08,Dec,NaN
4,5,200712090002,2007,12,9,6,South Asia,Balochistan,Nasirabad,28.458421,...,NaN,CETIS,-9,-9,0,-9,NaN,2007-12-09,Dec,NaN

In [6]:
del data['Unnamed: 0']

In [8]:
data.to_csv('./DATA/pakistanClean2.csv', index=False)